body {
  background-color: azure;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: block;
}

.app-bar {
  height: 10vh;
  width: 100vw;
  background-color: black;
  display: inline-flex;
}

.app-bar > span {
  line-height: 10vh;
  vertical-align: middle;
  margin: 0% 2%;
}

.title {
  font-size: x-large;
  font-family: sans-serif;
  color: white;
  line-height: 10vh;
  vertical-align: middle;
}

.tools {
  justify-content: center;
  vertical-align: center;
  display: inline-flex;
  width: 100vw;
  margin: 3% 0%;
}

.icon {
  margin: 0 10px;
}

.image-icon {
  height: 24px;
  width: 24px;
  margin-right: 2%;
}

.color-selector {
  height: 24px;
  width: 24px;
  margin: 0 4px;
  cursor: pointer;
}

.color-selector.selected {
  border: 3px solid rgb(90, 90, 90);
}

.color-selector.black {
  background-color: black;
}

.color-selector.grey {
  background-color: grey;
}

.color-selector.darkred {
  background-color: darkred;
}

.color-selector.red {
  background-color: red;
}

.color-selector.orange {
  background-color: orange;
}

.color-selector.yellow {
  background-color: yellow;
}

.color-selector.green {
  background-color: green;
}

.color-selector.lightblue {
  background-color: deepskyblue;
}

.color-selector.blue {
  background-color: blue;
}

.color-selector.violet {
  background-color: blueviolet;
}

.dot {
  background-color: black;
  border-radius: 50%;
}

.dot.small {
  height: 8px;
  width: 8px;
  margin-top: 8px;
}

.dot.medium {
  height: 16px;
  width: 16px;
  margin-top: 4px;
}

.dot.big {
  height: 24px;
  width: 24px;
}

.width {
  margin-left: 2%;
  margin-top: 0.3%;
  font-family: sans-serif;
  vertical-align: middle;
}

#canvas-container {
  width: 100%;
  text-align: center;
  /* background: repeating-linear-gradient(
    90deg,
    #fff,
    #fff 20px,
    #000 20px,
    #000 40px
  ); */
}

canvas {
  display: inline;
  background-color: white;
}

.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
